@model dynamic

@{
    Layout = "~/Views/Shared/_LayoutDraftboard.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              jhjhjhj
        </div>
    </body>
</html>