
    <div class="sidebar-inner scrollable-sidebar">
        <div class="size-toggle">
            ...
        </div>
        <div class="user-block clearfix">
            ...
        </div>
        <div class="search-block">
            ...
        </div>
        <div class="main-menu">
            <ul>
                <li>
                    <a href="index.html">
                        <span class="menu-icon">
                            <i class="fa fa-desktop fa-lg"></i>
                        </span>
                        <span class="text">
                            Dashboard
                        </span>
                        <span class="menu-hover"></span> <!-- Small element on the left hand side -->
                    </a>
                </li>
                ...
            </ul>
        </div>
    </div>
