<div class="brand">
    <span>Endless</span>
    <span class="text-toggle"> Admin</span>
</div>
<button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<ul class="nav-notification clearfix">
    ...
</ul>