@model dynamic

@{
    ViewBag.Title = "title";

}
@section styles{
   
}
<div class="panel panel-default table-responsive">
    <div class="panel-heading">Teams and Owners</div>
    <div class="padding-md clearfix">
        <div id="dataTable_wrapper" class="dataTables_wrapper" role="grid">
            <table class="table table-striped dataTable" id="dataTable" aria-describedby="dataTable_info">
                <thead>
                    <tr>
                        <th>
                            Owner First Name
                        </th>
                        <th>
                            Owner Last Name
                        </th>
                        <th>
                            Owner Email
                        </th>
                        <th>
                            Fantasy Team Name
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

    
