@model dynamic

@{
    ViewBag.Title = "title";

}
@section styles{
    @Styles.Render("~/css/datatables")
}
<h2>title</h2>
<div class="panel panel-default table-responsive">
    <div class="panel-heading">Positions</div>
    <div class="padding-md clearfix">
        <div id="dataTable_wrapper" class="dataTables_wrapper" role="grid">
            <table class="table table-striped dataTable" id="dataTable" aria-describedby="dataTable_info">
                <thead>
                    <tr>
                        <th>
                            Description
                        </th>
                        <th>
                            Abbreviation
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
    @section scripts{
        @Scripts.Render("~/js/datatables")
    }

    <script>
        $(document).ready(function () {
            var columns;
            var editor;
            var oTable;
            var mData;
            var records = [];
            var numPositions = 0;
            var positionsRef = new Firebase('https://draftboard.firebaseio.com/Positions/');
            console.log(positionsRef.toString());



            defineEvents();
            defineTableColumns();
            defineEditor();


            jQuery.removeFromArray = function (value, arr) {
                //console.log('object to be removed ' + JSON.stringify(value));
                return jQuery.grep(arr, function (elem, index) {
                    //console.log(' removing ' + elem.DT_RowId);
                    return elem.DT_RowId !== value;
                });
            };

            function defineTableColumns() {
                columns = [
            { mData: "Description", sTitle: "Description" },
            { mData: "Abbreviati1on", sTitle: "Abbrev" },

                ];

            }

            function defineEditor() {
                editor = new $.fn.dataTable.Editor({
                    "domTable": "#dataTable",
                    "fields": [{
                        "label": "Description:",
                        "name": "Description",
                        "attr": { "class": "form-control parsley-validated required", "placeholder": "Position name", "required": "true", "parsley-required": "true" },
                    }, {
                        "label": "Abbreviation:",
                        "name": "Abbreviation",
                        "attr": { "class": "form-control parsley-validated required", "placeholder": "Abbreviation", "required": "true", "parsley-required": "true" },
                    }, {
                        "name": "DT_RowId",
                        "type": "hidden",
                    }

                    ],
                    "i18n": {
                        "create": {
                            "title": "<h4>Enter position information, and click 'Create'</h4>",
                        },
                        "edit": {
                            "title": "<h4>Edit position information, and click 'Update'</h4>",
                        },
                        "remove": {
                            "title": "<h4>Delete your position.</h4>",
                            "confirm": { "1": "Are you sure you wish to delete this position?" }
                        },
                    },
                    "ajax": function (method, url, data, successCallback, errorCallback) {

                        var id = null;
                        var obj = {};

                        //console.log('data action ' + data.action);

                        if (data.action === 'create') {

                            obj.Description = data.data.Description;
                            obj.Abbreviation = data.data.Abbreviation;
                           
                            try {

                                id = positionsRef.push(obj, function (err) {
                                    if (!err) {
                                        console.log('success ' + id);
                                        successCallback({ "id": id });
                                    }
                                    else
                                        errorCallback();

                                }).name();

                            } catch (e) {
                                console.log('error ' + e);
                            }

                        }
                        else if (data.action === 'edit') {
                            id = data.id;
                            //console.log('edit id' + data.id);
                            obj.Description = data.data.Description;
                            obj.Abbreviation = data.data.Abbreviation;

                            try {
                                //console.log(exercisesRef.child(id).toString());

                                positionsRef.child(id).update(obj, function (err) {
                                    //console.log('test');
                                    if(!err)
                                        successCallback({ "id": id });

                                });
                            } catch (e) {
                                console.log(JSON.stringify(e));
                            }

                        }
                        else if (data.action === 'remove') {

                            try {
                                var r = [];

                                positionsRef.child(data.data[0]).remove(function (err) {

                                    if (!err) {
                                        //r = jQuery.removeFromArray(data.data[0], records);
                                        //records = r;
                                        successCallback({ "id": id });
                                    }


                                });
                            } catch (e) {

                            }

                        }

                    }
                });

                editor.on('onOpen', function () {

                    $("div.DTE_Body_Content form").attr("parsley-validate", "");
                    $("div.DTE_Body_Content form").parsley();
                });

                editor.on('onPreSubmit', function () {
                    var f = $('form');
                    if (f.css('display') != 'none') {
                        var valid = f.parsley('validate');
                        console.log('valid ' + valid);
                        if (valid == false)
                            return false;
                    }
                });





            }



            function defineEvents() {
                positionsRef.on('value', function (snap) {
                    numPositions = snap.numChildren();
                    });
                positionsRef.once('value', function(snap){
                    //console.log('numPositions 4 ' + numPositions);
                    positionsRef.on('child_added', positionsAdded);

                    positionsRef.on('child_changed', positionsChanged);

                    positionsRef.on('child_removed', positionsRemoved);
                    if (numPositions === 0)
                        initializeDataTable();
                
                });

            }



            function initializeDataTable() {
                console.log('initialized');
                oTable = $('#dataTable').dataTable({
                    "sDom": "<'row'<'col-xs-6'T><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                    "aaData": records,
                    "aoColumns": columns,
                    "oTableTools": {
                        "sRowSelect": "single",
                        "aButtons": [
                            { "sExtends": "editor_create", "editor": editor, "sButtonClass": "btn btn-primary" },
                            { "sExtends": "editor_edit", "editor": editor, "sButtonClass": "btn btn-primary" },
                            { "sExtends": "editor_remove", "editor": editor, "sButtonClass": "btn btn-warning" }
                        ]
                    },
                    "bDestroy": true,


                });
            }

            var positionsAdded = function (snapShot) {
                console.log('added');
                positionsRef.child(snapShot.name()).on("value", function (childSnapShot) {
                    console.log(JSON.stringify(childSnapShot.val()));
                    var o = childSnapShot.val();
                    o.DT_RowId = childSnapShot.name();
                    //o.value = childSnapShot.name();

                    records.push(o);
                    console.log('numPositions ' + numPositions);
                    console.log('record count ' + records.length);
                    if (numPositions == records.length)
                        initializeDataTable();

                });
            };


            //var positionsChanged = function (snapShot) {
            //    console.log('changed');


            //    positionsRef.child(snapShot.name()).on("value", function (childSnapShot) {
            //        //console.log('plan changed ' + JSON.stringify(childSnapShot.val()));
            //        //console.log('record length ' + records.length);
            //        var o = childSnapShot.val();
            //        var i = 0;
            //        $.each(records, function () {
            //            //console.log('this dtrowid ' + this.DT_RowId + ' snap ' + childSnapShot.name());
            //            //console.log('snap name ' + childSnapshot.name());
            //            if (this.DT_RowId == childSnapShot.name()) {

            //                o = childSnapShot.val();
            //                o.DT_RowId = childSnapShot.name();
            //                return false;
            //            }
            //            i++;
            //        });
            //        records[i] = o;

            //        initializeDataTable();

            //    });

            //}

            //var positionsRemoved = function (snapShot) {
            //    //console.log('record length before ' + records.length);
            //    var r = [];


            //    positionsRef.child(snapShot.name()).on("value", function (childSnapShot) {
            //        //console.log('value ' + childSnapShot.name());

            //        r = jQuery.removeFromArray(childSnapShot.name(), records);
            //        //console.log('record length after ' + r.length);
            //        records = r;

            //        if(numPositions===records.length)
            //            initializeDataTable();
            //    });


            //}


        });
    </script>
